{% extends 'base.html' %}
{% load static %}
{% block content %}

<main id="main">

    <section class="single-post-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9 post-content" data-aos="fade-up">

                <!-- ======= Single Post Content ======= -->
                <div class="single-post">
                    <div class="post-meta"><span class="date">War</span> <span class="mx-1">&bullet;</span> <span>May 5th '22</span></div>
                    <h1 class="mb-5">Eighteen days of Mahabharata war</h1>
                    <p><span class="firstcharacter">J</span>ust before the start of the war, Yudhishthira went and sought blessings of Bhishma, Drona , Kripacharya and other elders. All great warriors became very happy with this act of Yudhishthira and blessed him to win the war. Yudhishthira also asked that if someone wants to join him in this war, he is welcome. Kauravas Yuyutsu, then switched sides and came with Pandavas. Yudhishthira welcomed him to his side.</p>

                    <figure class="my-4">
                        <center><img src="{% static 'img/1.png' %}" height="700px" width="700px" alt="" class="img-fluid"></center>
                    </figure>
                    <h3>Day One and Two – The Grandsire’s amazing skills on display</h3>
                    <p>Uttara and Sweta, sons of Virata, were killed on day one of Mahabharata war. Shalya killed Uttara and Bhishma killed Sweta. This day belonged to Kauravas. Before being killed by Bhishma, Sweta has fought valiantly. Many a times, Sweta has displayed skills which were unmatched and even Bhishma found him difficult to handle. Towards the end of day, there was a announcement from heavens indicating that Sweta’s end is near. Armed with this information, Bhishma finally killed Sweta. Kekaya brothers, Bhima and Abhimanyu, all tried to save Sweta, but in vain.</p>
                    <p>Second day belonged to Pandavas and Satyaki killed Bhishma’s charioteer. Bhishma dazzled in kurukshetra and Yudhishthira was forced to thinking that how would they conquer this army which has warriors like Bhishma.</p>
                    <p>Such was the power of Bhishma that even Lord Krishna decided to fight with him though he said that he will not fight in the war.</p>
                
                    
                    <h3>Day Three – Day Eight (Bhima kills few Kauravas)</h3>    

                    <p>On day three, Bhishma killed many soldiers of Pandava army.  On fourth day, Bhima killed eight brothers of Duryodhana. Day eight spelled some misery for pandavas, as Arjuna’s son Iravan was killed.</p>
                    
                    <h3>Day Ten (Bhishma’s downfall)</h3>    
                    <figure class="my-4">
                        <center><img src="{% static 'img/2.jpg' %}" height="700px" width="700px" alt="" class="img-fluid"></center>
                    </figure>
                    <p>On ninth day, Shri Krishna lost his patience and intended to attack Bhishma. Bhishma so far was proving too much for pandavas army, but Arjuna pacified him. He devises a strategy to cause Bhishma’s downfall. Interestingly, the secret of his downfall was given by Bhishma only. This was made possible by Shikhandi facing him and Arjuna using Shikhandi as shield. (Tenth day). Pandava’s chances only improved after Bhishma was removed from the equation.</p>

                    <h3>Day Twelve and Thirteen – Chakravyuha formation and death of Abhimanyu</h3>    
                    <figure class="my-4">
                        <center><img src="{% static 'img/3.jpg' %}" height="700px" width="700px" alt="" class="img-fluid"></center>
                    </figure>
                    <p>On Twelfth day, Susharma engaged Arjuna. Susharma was part of the Duryodhana’s plan to capture Yudhishthir to win the war. On thirteenth day, while Arjuna was fighting Bhagdatta and Susharma, Drona made Chakravyuha formation. Nobody in pandavas knew the key to this apart from Arjuna. Abhimanyu knew how to enter but did not know how to come out of it. Once he entered, Jayadrath ensured that no pandava could follow him. Trapped, Abhimanyu fought valiantly before dying in hands of son of Dushasana, Durmashana.</p>
                    <p>Abhimanyu killed Brihadbala. He also defeated Duryodhana but let him live because Bhima was under oath to kill him. Seeing this, Karna snaps Abhimanyu’s bow from behind while Drona kills Abhimanyu’s horses and charioteer from the front. Then all Kauravas attacked him simultaneously. Dushasana’s son crushed his skull with a mace. However, Abhimanyu killed him with his own mace before dying. He also killed more than half akshouhini’s of Kaurava’s that day.</p>
                    
                    <h3>Day Fourteen and Fifteen – When Arjuna was close to death and Yudhishthrira spoke a half lie</h3>    
                    <figure class="my-4">
                        <center><img src="{% static 'img/4.jpg' %}" height="700px" width="700px" alt="" class="img-fluid"></center>
                    </figure>
                    <p>Next day (fourteenth), Arjuna kills 5 Akshouhini’s of Kauravas and Jayadrath after coming to touching distance of death. This could have doomed pandava’s chances of winning the battle had Krishna not intervened. Karna kills Ghatotkacha with Indrastra, this again ensures that one more factor of  Arjuna’s death is taken care of. Satyaki killed Bhurisravas.</p>
                    <p>on Day fifteen, Drupad and Virata were killed by Drona. This was indeed Drona’s day, as he was decimating pandava’s army with the help of brahmadanda. Bhima killed an elephant, named Ashwaththama, and claimed that Drona’s son was killed. Drona dropped his arms after Yudhishthira confirmed this and was killed by Dhristdyumna.</p>

                    <h3>Day Sixteen and Seventeen</h3>    
                    <figure class="my-4">
                        <center><img src="{% static 'img/5.jpg' %}" height="700px" width="700px" alt="" class="img-fluid"></center>
                    </figure>
                    <p>On sixteenth day, Dushashana was killed by Bhima. Bhima tore his arm and drank the blood from his heart. Draupadi could finally tie her hairs with the blood from Dushashana’s heart.</p>
                    <p>Day seventeenth saw the demise of Karna in hands of Arjuna. He was killed in the same way as Abhimanyu, helpless. Earlier that day, Karna spared Sahdev and Arjuna. Nakula, the most handsome of kuru clan, killed Shakuni’s son Uluka. He took this oath during the gambling loss of killing Uluka. Nakula also killed three of Karna sons, Chitrasena, Sushena and Satyasena. Shalya became the commander of Kaurava’s army on seventeenth day of Mahabharat war.</p>

                    <h3>Final Day – Eighteenth day of Mahabharata war</h3>    
                    <figure class="my-4">
                        <center><img src="{% static 'img/6.jpg' %}" height="700px" width="700px" alt="" class="img-fluid"></center>
                    </figure>
                    <p>On final (eighteenth) day, Shalya,  who acted as the charioteer of Karna, was killed by Yudhishthir.  There was a strange ability to him that he would grew more stronger in a battle as the aggression of his enemies grew. Only Yudhishthir could kill the powerful warrior because the eldest Pandava was not a man of aggression. Sahdev killed Shakuni to avenge the events which followed dice game. Seeing his eminent defeat, Duryodhana sought refuge in a lake. Pandavas found him there and Yudhisthira made a mistake. He offered Duryodhana to pick any of the Pandavas for a duel. Duryodhana chose Bhima. Balrama also watched this great duel between strength and agility. Bhima finally breaks Duryodhana thighs which enrages Balrama as this was against the rules of the war. Incidentally, Bhima vowed after the dice game that he would break Duryodhana’s thighs.</p>

                    <h3>The night of shame – Ashwaththama’s misdeeds</h3>    

                    <p>Later in the night, Ashwaththama slays sons of Pandavas while they were sleeping. He also kills Shikhandi and Dhrishtadyumna. Dhrishtadyumna was the commander of Pandavas that day. He also attempted to kill unborn son of Abhimanyu who was saved by Shri Krishna. Ashwaththama was later cursed by Shri Krishna. Ashwaththama was supported by Kritvarma and Kripacharya.</p>


                </div><!-- End Single Post Content -->                

            </div>
        </div>
      </div>
    </section>
</main><!-- End #main -->


{% endblock content %}