{% extends 'base.html' %}
{% load static %}
{% block content %}

<main id="main">

    <section class="single-post-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9 post-content" data-aos="fade-up">

                <!-- ======= Single Post Content ======= -->
                <div class="single-post">
                    <div class="post-meta"><span class="date">War</span> <span class="mx-1">&bullet;</span> <span>May 5th '22</span></div>
                    <h1 class="mb-5">Shivaji and Guerrilla Warfare Tactics</h1>
                    <p><span class="firstcharacter">F</span>rom the land of Marathas spread the globally acclaimed style of warfare, the Guerrilla Warfare. Against the Mughals Chhatrapati Shivaji Maharaj waged a war such that the base of the Mughal reign in Maharashtra suffered a huge setback.</p>
                    <p>Now, what makes this war technique a talk of the town? How has this warfare typical to the Chhatrapati made such a fervour around the world. Let’s take a look.</p>

                    <figure class="my-4">
                        <center><img src="{% static 'img/shivaji-maharaj.jpg' %}" height="700px" width="700px" alt="" class="img-fluid"></center>
                    </figure>
                    <h3>About Guerrilla Warfare tactics</h3>
                    <p>As opposed to the conventional and traditional warfare, Guerrilla Warfare promotes camouflage and deceived modes of fighting their opponents. It has to be sudden, and aggressive, targeting the areas of the opponents which are difficult to tread upon.</p>
                    <p>Hence, the idea behind it is the opponents will not be in a position to reciprocate immediately. It requires intense planning and plotting in order to take the opponents by a storm. This mode of warfare is extremely ferocious.</p>
                    <p>Whatever may be the comparison, Guerrilla Warfare has carved a niche unique to itself and has also been embraced by countries of Southeast Asia. There are some tactics that are specific to Guerrilla Warfare only. The following paragraphs aim to elaborate some of the tactics of Guerrilla Warfare.</p>
                    <p>Guerrilla Warfare is lined up with a series of objectives that lay down a unique strategy that is bound to be followed by each of the soldiers so that they can contribute to the victory. It is crucial to understand and follow these strategies.</p>
                    <p>The armament is yet another aspect that needs a mention. A thorough knowledge of using each of the armaments with dexterity helped a great deal in Guerrilla Warfare.</p>
                    <h3>How Shivaji used Guerrilla Warfare tactics</h3>
                    <p>The key to success in Guerrilla Warfare is to prevent the opponent’s eye. Hence, to keep oneself hidden from the opponents is mandatory. Shivaji trained each and every soldier in his troop which enabled him to stand against the grand army of the Mughals.</p>
                    <p>The Guerrilla soldiers were supposed to adapt themselves with the extreme geographical conditions and this really took a toll on the soldiers. As mentioned earlier, Guerrilla Warfare demanded that the soldiers should keep themselves under cover.</p>
                    <p>Hence, staying away from the mainstream areas was mandatory. Another tactic in this line is a Guerrilla soldier has to save himself at all times from the attacks of the opponents.</p>
                    <p>Also, it is important that the Guerrilla Warfare soldiers should undergo a continuous fighting spree such that the opponents get minimum time to recover. It is also important that the attacks must be rigorous and should occupy the opponent areas at night.</p>
                    <h3>Shivaji’s night attacks using Guerrilla Warfare tactics</h3>
                    <p>Attacking the opponents at night ensures that due to meagre preparation, and poor vision at night, they can hardly stand against the Guerrilla fighters. It is one of the most important tactics in Guerrilla Warfare.</p>
                    <p>Another tactic that the Guerrilla soldiers practised was that, they never let the arms and ammunition remain with the dead soldiers. They rather picked it up from them at the earliest considering the circumstances.</p>
                    <p>A Guerrilla Warfare needs that once the opponent starts believing that they have won against the Guerrilla soldiers, these rustic soldiers come back more aggressively against the enemy, thus ensuring a marvellous victory.</p>
                    <p>Thanks to Chhatrapati Shivaji for manoeuvring such a form of warfare that is full proof to establish a grand win. Guerrilla warfare is thus an unbeatable tactics and therefore celebrated till date.</p>
                </div><!-- End Single Post Content -->                

            </div>
        </div>
      </div>
    </section>
</main><!-- End #main -->


{% endblock content %}