
{% load static %}

{% for vp in vippost %}
<section id="posts" class="posts">
    <div class="container" data-aos="fade-up">
      <div class="row g-5">
        <div class="col-lg-4">

            <div class="post-entry-1 lg">
            <a href="{% url 'post-detail' vp.id %}"><img src="{{vp.image.url}}" alt="" class="img-fluid"></a>
            <div class="post-meta"><span class="date">{{vp.category}}</span> <span class="mx-1">&bullet;</span> <span>{{vp.date_posted|date:"F d, Y"}}</span></div>
            <h2><a href="{% url 'post-detail' vp.id %}">{{vp.title}}</a></h2>
            <p class="mb-4 d-block">{{vp.description}}</p>

            <div class="d-flex align-items-center author">
                <div class="photo"><img src="{% static 'img/person-1.jpg' %}" alt="" class="img-fluid"></div>
                <div class="name">
                <h3 class="m-0 p-0">{{vp.author}}</h3>
                </div>
            </div>
            </div>
        </div> <!-- End .row -->
    </div>
  </section> <!-- End Post Grid Section -->
</main><!-- End #main -->
{% endfor %}