{% extends 'base.html' %}
{% load static %}
{% block content %}

<main id="main">
  <section id="contact" class="contact mb-5">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-12 text-center mb-5">
          <h1 class="page-title">Register</h1>
        </div>
      </div>

      <div class="form mt-5">
        <form action="" method="post">
          {% csrf_token %}
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              {{user_form.username}}  
            </div>
          </div>
          <br>
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              {{user_form.email}}
            </div>
          </div>
          <br>
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              {{user_form.first_name}}
            </div>
          </div>
          <br>
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              {{user_form.last_name}}
            </div>
          </div>
          <br>
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              {{user_form.password1}}
            </div>
          </div>
          <br>
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              {{user_form.password2}}
            </div>
          </div><br>

          <div class="text-center"><button type="submit" class="btn btn-primary">Register</button></div>
        </form>
      </div><!-- End Contact Form -->

    </div>
  </section>
</main>

{% endblock content %}